@charset "UTF-8";

*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow: -moz-scrollbars-none; /*Firefox*/
    -ms-overflow-style: none; /*Internet Explorer +10*/
}

body::-webkit-scrollbar{
    width: 0! important; /*Chrome, Safari, versões mais recentes do Opera*/
}

h1{
    font-size: 2.7em;
}

h2{
    font-size: 1.8em;
}

del{
    color: #eb5757;
}

button{
    background-color: #eb5757;
    color: white;
    border-radius: 5px;
    border: 1px solid #eb5757;
    padding: 5px 17px;
    transition: 0.2s;
    margin: 10px 0 0 0;
}

button:hover{
    border: 1px solid white;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #eb5757;
}