@charset "UTF-8";

#direcionar{
    background-color: #eb5757;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 220px;
    height: 50px;
}

.link{
    color: white;
    text-decoration-line: none;
}

.li{
    display: inline-block;
    margin: 0px 30px 0px 0px;
}

#u{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#c{
    width: 17px;
}

#carrinho{
    background-color: #222;
    padding: 4px 15px 3px 15px;
}

.logo{
    width: 85px;
}

