@charset "UTF-8";

#img2{
    height: 430px;
    background-image: url(../Projeto/img21400.jpg);
}

#c1{
    height: 430px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.253),#222222b2 99%);
    display: flex;
    align-items: center;
    justify-content: right;
}

#c11{
    color: white;
    height: 190px;
    width: 460px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: relative;
    right: 16%;
}

#c12{
    color: #222;
    background-color: white;
    border: 1px solid white;
}

#c12:hover{
    border: 1px solid #222;
    box-shadow: 0 0 0 1px #222, 0 0 0 3px white;
}