#d1{
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 225px;
}

#d11{
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.molde{
    height: 361px;
    width: 285px;
    border-radius: 10px;
    transition: 0.2s;
}

#d2{
    display: flex;
    justify-content: center;

}

#d21{
    background-image: url(../Projeto/barraca290.jpg);
}

#d22{
    background-image: url(../Projeto/caneca290.jpg);
}

#d23{
    background-image: url(../Projeto/bolsa290.jpg);
}

#d24{
    position: relative;
    top: 5%;
    left: 67%;
}

.molde:hover{
    height: 368px;
    width: 290px;
}

.matrizd{
    height: 590px;
    border-radius: 10px;
    margin: 0px 10px;
    transition: 0.2s;
    padding: 0px;
}

.d20{
    text-align: center;
    padding: 30px 0 0 0;
}

#btnb{
    background-color: #222;
    border: 1px solid #222;
}

#btnb:hover{
    border: 1px solid white;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #222;
}

.dtm{
    font-size: 1.29em;
    padding: 0 0 10px 0;
}