@charset "UTF-8";

#titulo{
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#a0{
    border-radius: 30px;
    margin: 0 15px 0 0;
    padding: 5px 17px;
    display: flex;
}

#a0:hover{
    border: 1px solid #222;
    box-shadow: 0 0 0 1px #222, 0 0 0 3px #eb5757;
}
